[Unit]
Description=Monitor Avahi deamon for invalid hostnames
Requires=dbus.socket
After=dbus.socket
BindsTo=avahi-daemon.service

[Service]
Nice=19
IOSchedulingClass=2
IOSchedulingPriority=7

EnvironmentFile=-/etc/conf.d/monitor-avahi
ExecStart=/usr/bin/monitor-avahi
ProtectSystem=strict
ProtectHome=true
Restart=on-failure

[Install]
WantedBy=multi-user.target
