[Unit]
Description=Monitor Avahi deamon for invalid hostnames
Requires=dbus.socket
After=dbus.socket
BindsTo=avahi-daemon.service

[Service]
EnvironmentFile=-/etc/conf.d/monitor-avahi
ExecStart=/usr/bin/monitor-avahi
Restart=on-failure

[Install]
WantedBy=multi-user.target
